{% extends 'contact/base.html' %}
{% block body %}
<div class="container-fluid mx-auto vertical-center" style="width: 80rem;">
        <div id="contact-card" class="card mx-auto rounded-0" style="width: 40rem; height: 45rem">
            <div class="card-body">
                <h1 class="text-center mt-4 mb-4" id="contact-h1">Contact Us</h1>
                <p class="text-center text-white">If you have a question for us, please leave a message.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-5 pt-3">
                      <input type="text" class="form-control text-white" name="full_name" id="{{ form.full_name.id_for_label }}" autocomplete="off" placeholder="" required />
                      <label for="text" class="label-name">
                        <span class="content-name">Full Name</span>
                      </label>
                    </div>
                    <div class="form-group mt-5 mx-auto">
                      <input type="email" class="form-control text-white" name="email" id="{{ form.email.id_for_label }}" autocomplete="off" placeholder="" required />
                      <label for="email" class="label-name">
                        <span class="content-name">Email</span>
                      </label>
                    </div>
                    <div class="form-group mt-5 mx-auto">
                      <input type="text" class="form-control text-white" name="subject" id="{{ form.subject.id_for_label }}" autocomplete="off" placeholder="" required />
                      <label for="text" class="label-name">
                        <span class="content-name">Subject</span>
                      </label>
                    </div>
                    <div class="form-group mt-5 mx-auto">
                      <textarea class="form-control text-white" name="message" id="{{ form.message.id_for_label }}" type="text" rows="4" autocomplete="off" placeholder="" required></textarea>
                      <label for="text" class="label-name" id="textarea-label">
                        <span class="content-name" id="textarea-span">Message</span>
                      </label>
                      </div>
                      <div class="container">
                    <button type="submit" class="btn text-black rounded-0 bg mt-5">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}
